.form{
    background-color: rgb(255, 208, 147);
    color: rgba(71, 27, 27, 0.952);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 45vh;
    z-index: 2;
}

.form_data{
    padding: 10px;
    background-color: coral;
    width: 50%;
    height: fit-content;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

input{
    outline: none;
    max-width: 50%;
    margin: auto;
    background-color: rgba(243, 237, 224, 0.479);
    border-radius: 28px;
    border: 0px;
    padding: 12px;
    flex-basis: 100%;
}

input::placeholder{
    text-align: center;
}

input:hover{
    background-color: rgba(243, 237, 224, 0.897);
}

h3{
    margin: auto;
    color: rgba(71, 27, 27, 0.952);
    font-size: 20px;
}

.field{
    display: flex;
    margin: 10px 0px;
}

.description{
    min-width: 40%;
}


.submit{
    padding: 7px 21px;
    margin: auto;
    background-color: rgba(243, 237, 224, 0.897);
    border: 0px;
    border-radius: 28px;
    outline: none;
    max-width: 275px;
    font-size: medium;
    font-weight: bold;
}

.submit:focus{
    background-color: rgb(255, 145, 106);
    color: white;

}

#ico1{
    margin: 0px auto;
    width:inherit;
    height:inherit;
}

#ico2{
    margin: 0px auto;
    width:inherit;
    height:inherit;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 480px) { 
    #ico1,#ico2{
        display: none;
    }

    .form_data{
        width: 83%;
        padding: 7px;
    }

    .form{
        height: 43vh;
    }

    .field{
        margin: 10px 0px;
    }

    .input{
        padding: 7px;  
    }

    .submit{
        padding: 10px 20px;
        margin-top: 3px;
    }
}

.form_body{
    display:flex;
    flex-direction: row;
    height: 20vh;
}


#form_heading{
    padding-top: 10px;
}