body{
    overflow-x: hidden;
}

.card{
    max-height: 55vh;
    width: 20vw;
    margin: 15px auto;
    position: relative;
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(255, 208, 147);
    padding: 18px;
    padding-bottom: 60px;
    border-radius: 20px;
    /* flex-basis: 0%; */
}

.image_container img{
    max-width: 100% !important;
    max-height: 100% !important;
    /* margin: auto 0px !important; */
}

.image_container{
    max-width: 100% !important;
    height: 30vh;
    position: relative;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}


#edit{
    padding: 7px 20px;
    border-radius: 8px;
    position: absolute;
    outline: none;
    margin: auto;
    width: 100px;
    bottom: 10px;
    right: calc(50% - 50px);
    border: 0;
    z-index: 1;
    background-color: rgba(243, 237, 224, 0.897);
    color: rgba(71, 27, 27, 0.952);  
    font-size: medium;
    font-weight: bold;
}

#edit:hover{
    background-color: coral;
    color: white;
}

.updateForm{
    margin: auto;
    width: 100%
}

#field{
    padding: 7px;
    margin: 2px;
    display: flex;
}

#descrip{
    width: 40%;
}

button{
    padding: 12px 25px;
    margin: 5px auto;
    background-color: rgba(243, 237, 224, 0.897);
    border: 0px;
    border-radius: 28px;
    outline: none;
    max-width: 275px;
}

#ip{
    width: 40%
}

@media (max-width: 480px){
    .card{
        width: 75%;
        margin: 10px auto;
    }
}

/* .tooltip {
    position: relative;
} */
  
.tooltip .tooltiptext {
    margin-left: 4px;
    visibility: hidden;
    width: 130px;
    background-color: #ff7f5088;
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: normal;
    border: 1px solid coral;
    border-radius: 6px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 0;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}